<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79172212478-1gma5t6cc5bhh9uaoa5futjm9kbna36m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79172212478-1gma5t6cc5bhh9uaoa5futjm9kbna36m</string>
	<key>API_KEY</key>
	<string>AIzaSyDCGXUSy5md8AA96shtyEjaHaUI8qQB3nQ</string>
	<key>GCM_SENDER_ID</key>
	<string>79172212478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.metch</string>
	<key>PROJECT_ID</key>
	<string>metch-e7528</string>
	<key>STORAGE_BUCKET</key>
	<string>metch-e7528.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79172212478:ios:92089b9acd8fdb1ec577af</string>
</dict>
</plist>